.button {
    padding: 0.8rem 1.6rem;
    border-radius: 8px;
    border: none;
    font-weight: 700;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.25s ease;
  
    &.primary {
      background-color: #0070f3;
      color: #fff;
  
      &:hover:not(:disabled) {
        background-color: #005bb5;
      }
    }
    &.secondary {
      background-color: #eaeaea;
      color: #222;
  
      &:hover:not(:disabled) {
        background-color: #cacaca;
      }
    }
  
    &:disabled {
      cursor: not-allowed;
      opacity: 0.6;
    }
  }